<%- include("partial/header"); -%>

<body class="d-flex h-100 text-center text-white bg-transparent" style="background-image: url('images/bg.jpg');">


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Factory</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link active" aria-current="page" href="/about">About us</a>
          <a class="nav-link" href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    <div class="aboutUs">
      <img class="people"src="images/people.jpg" alt="people">
      <h4>Lorem Ipsum</h4>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper pharetra odio vitae tincidunt. Phasellus gravida mattis ultricies. Aliquam luctus porttitor facilisis. Proin et pulvinar enim. Phasellus vel tincidunt ipsum. Cras
        semper volutpat purus, in suscipit tellus bibendum eget. Suspendisse nec ipsum vel orci rutrum suscipit. Quisque suscipit volutpat laoreet. Phasellus venenatis id ligula a volutpat.</p>
    </div>




    <%- include("partial/footer"); -%>
