<%- include("partial/header"); -%>

<body class="d-flex h-100 text-center text-white bg-transparent" style="background-image: url('images/bg.jpg');">


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Factory</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link " href="/">Home</a>
          <a class="nav-link" href="/about">About us</a>
          <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    





    <%- include("partial/footer"); -%>
